/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow kmers-GWAS pipeline config for UA HPC
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Modified from the config file at:
	https://github.com/nf-core/rnaseq/blob/6e1e448f535ccf34d11cc691bb241cfd6e60a647/conf/base.config
----------------------------------------------------------------------------------------
*/

process {

    executor = 'local'

    // executor = 'slurm'
    // queue = 'standard'
    // clusterOptions = "--account=rpalaniv --ntasks=1"

    // cpus   = 1
    // memory = 6.GB
    // time   = 4.h

    // errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    // maxRetries    = 1
    // maxErrors     = '-1'

    withName:INSTALL_KMERS_GWAS {
    	memory = 1.GB 
        cpus = 1
    }

    withName:KMC_COUNT_CANONIZED {
    	memory = 20.GB // based off short reads
        cpus = 8
    }

    withName:KMC_COUNT_ALL {
    	memory = 20.GB // based off short reads
        cpus = 8
    }

    withName:COMBINE_KMC_COUNT {
    	memory = 500.GB // 75.GB based off short reads, try 500.GB for long reads
        cpus = 1 // single-threaded program

    }

    withName:LIST_KMERS_FOUND_IN_MULTIPLE_SAMPLES {
    	memory = 50.GB // based off short reads
        cpus = 1 // single-threaded program

    }

    withName:BUILD_KMERS_TABLE {
    	memory = 50.GB // based off short reads
        cpus = 1 // single-threaded program

    }

}

// singularity {
// 
//   	enabled = true
//   	autoMounts = true
// 
// }

conda {

	enabled = true
	useMamba = true

}
