/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow kmers-GWAS pipeline config for UA HPC
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	Modified from the config file at:
	https://github.com/nf-core/rnaseq/blob/6e1e448f535ccf34d11cc691bb241cfd6e60a647/conf/base.config
----------------------------------------------------------------------------------------
*/

process {

    // executor = 'local'

    executor = 'slurm'
    queue = 'standard'
    clusterOptions = "--account=rpalaniv --ntasks=1"

    cpus   = 1
    memory = 10.GB
    time   = 10.h

    errorStrategy = { task.exitStatus in [140,143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    withName:INSTALL_KMERS_GWAS {
    	memory = 1.GB 
        cpus = 1
    }

    withName:KMC_COUNT_CANONIZED {
    	memory = 100.GB // based off short reads
        cpus = 8
    }

    withName:KMC_COUNT_ALL {
    	memory = 50.GB // based off short reads
        cpus = 8
    }

    withName:COMBINE_KMC_COUNT {
    	memory = 500.GB // 75.GB based off short reads, try 500.GB for long reads
        cpus = 1 // single-threaded program

    }

    withName:LIST_KMERS_FOUND_IN_MULTIPLE_SAMPLES {
    	memory = 50.GB // based off short reads
        cpus = 1 // single-threaded program

    }

    withName:BUILD_KMERS_TABLE {
    	memory = 50.GB // based off short reads
        cpus = 1 // single-threaded program

    }

    withName:GENERATE_KINSHIP_MATRIX {
        memory = 50.GB
        cpus = 1
    }

    withName:CONVERT_KMERS_TABLE_TO_PLINK {
        memory = 50.GB // This can be memory intensive, adjust based on your data size
        cpus = 1       // The tool 'kmers_table_to_bed' is typically single-threaded
        time = 10.h    // Adjust based on the size of your k-mer table and phenotype data
    }

}

// singularity {
// 
//   	enabled = true
//   	autoMounts = true
// 
// }

conda {

	enabled = true
	useMamba = true

}

